body{
	background:#222;
	margin:0;
}

#container{
	background:#fff;
	margin:0 auto;
	max-width:860px;
}

#content{
	padding: 0.5em 1em;
}

header{
	padding: 0.5em 1em;
}
#langselect{
	width:100%;
}

#langselect ul{
	width:100%;
	list-style:none;
}
#langselect ul li{
	display:inline-block;
	width:30%;
}

ul#jobs{
	list-style:none;
}

ul#jobs li{
	display:inline-block;
	width:30%;
	margin-bottom: 0.3em;
}

ul#jobs li span{
	background: #222;
	color: white;
	display: block;
	font-size: 16px;
	font-weight: 800;
	margin: 0;
	margin-top: -5px;
	padding: 0.5em;
	text-align: center;
}

ul#jobs li img{
	background:#222;
	padding:0.3em;
	width:96%;
}

ul#social{
	list-style:none;
}

ul#social li{
	display:inline-block;
	width:10%;
}